/* src/pages/Home.css */
.home-container {
    text-align: center;
    margin: 50px auto;
  }
  
  .home-container h1 {
    font-size: 2.5rem;
    color: #333;
  }
  
  .home-container p {
    font-size: 1.2rem;
    color: #666;
  }
  